<ng2-toasty [position]="position"></ng2-toasty>
<div class="col-sm-12">
    <div [@fadeInOutTranslate] class="m-t-15" [hidden]="!visibleDetalhes">
        <!-- personal card start -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Detalhes</h5>
                <span class="code-header">Detalhamento da profissão</span>
                <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right m-l-10" placement="top" ngbTooltip="Fechar" (click)="toggleCancel()" [hidden]="!visibleEditToggle">
                    <i class="icofont icofont-ui-close"></i>
                </button>
                <button id="exit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" placement="top" ngbTooltip="{{toolTipEdit}}" (click)="toggleEdit()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="general-info">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <table class="table m-0 table-responsive">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Descrição</th>
                                                    <td>{{entity.descricao}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of general info -->
                        </div>
                        <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of view-info -->
                <form #formDetalhes="ngForm" novalidade>
                    <div class="edit-info" *ngIf="!editProfile">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="general-info">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-listing-box"></i></span>
                                                                <input type="text" class="form-control" id="descricaoDetalhes" placeholder="Descrição" name="descricaoDetalhes" required #name="ngModel" [(ngModel)]="entity.descricao">
                                                                <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Não pode ser vazio!" ng-show="formDetalhes.descricao.$error.required" *ngIf="entity.descricao == null"><i class="text-danger icofont icofont-close-circled"></i></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end of table col-lg-6 -->
                                    </div>
                                    <!-- end of row -->
                                    <div class="text-center">
                                        <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20" (click)="updateDetails(formDetalhes)">Salvar</a>
                                        <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleCancel()">Cancelar</a>
                                    </div>
                                </div>
                                <!-- end of edit info -->
                            </div>
                            <!-- end of col-lg-12 -->
                        </div>
                        <!-- end of row -->
                    </div>
                </form>
                <!-- end of edit-info -->
            </div>
            <!-- end of card-body -->
        </div>
        <!-- personal card end-->
    </div>
    <!-- cadastrar card -->
    <app-card #idCadastrar [title]="'Cadastrar'" [headerContent]="'Cadastrar a especialidade'" [hidden]="!visibleCadastrar">
        <form #f="ngForm" (ngSubmit)="create(f)" novalidade>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="descricao" placeholder="Descrição" name="descricao" required id="descricao" #name="ngModel" [(ngModel)]="entity.descricao">
                    <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Não pode ser vazio!" ng-show="f.descricao.$error.required" *ngIf="entity.descricao == null"><i class="text-danger icofont icofont-close-circled"></i></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0" [disabled]="!f.valid">Cadastrar</button>
                    <button type="button" class="btn btn-default waves-effect" (click)="close()">Fechar</button>
                </div>
            </div>
        </form>
    </app-card>
    <!-- cadastrar end -->
    <!-- consultar card -->
    <app-card [title]="'Consultar'" [headerContent]="'Consultar as profissões'">
        <div class="row">
            <div class="col-sm-12 col-sm-6">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light f-left d-inline-block md-trigger m-l-10" (click)="novo()" placement="top" ngbTooltip="Cadastrar">
                        <i class="icofont icofont-papers"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-sm waves-effect f-left d-inline-block md-trigger m-l-10" (click)="details()" placement="top" ngbTooltip="Detalhar / Alterar" [disabled]="!enableButton">
                       <i class="icofont icofont-listine-dots"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm waves-effect f-left d-inline-block md-trigger m-l-10" (click)="delete()" placement="top" ngbTooltip="Excluir" [disabled]="!enableButton">
                            <i class="icofont icofont-trash"></i>
                    </button>
                    <label class="form-inline f-right "> Pesquisar:
                        <input type='text' class="form-control input-sm m-l-10 " placeholder='Descrição' (keyup)='updateFilter($event)' />
                  </label>
                </div>
            </div>
        </div>
        <app-data-list #dataTable [service]="service" [columns]="columns" (entity)="setEntity($event)"></app-data-list>
    </app-card>
    <!-- consultar end -->
</div>