<ng2-toasty [position]="position"></ng2-toasty>
<div class="col-sm-12">
    <!-- cadastrar card -->
    <app-card #idCadastrar [title]="'Cadastrar'" [headerContent]="'Cadastrar Paciente'" [hidden]="!visibleCadastrar">
        <form #f="ngForm" (ngSubmit)="create(f)" novalidade>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" required #name="ngModel" [(ngModel)]="entity.nome">
                    <div class="messages text-danger tooltip-error" placement="top" ngbTooltip="Não pode ser vazio!" ng-show="f.nome.$error.required" *ngIf="entity.nome == null">
                        <i class="text-danger icofont icofont-close-circled"></i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nome Completo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo" name="nomeCompleto" #name="ngModel" [(ngModel)]="entity.nomeCompleto">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nascimento</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelPopup" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CPF" placeholder="CPF" name="CPF" #name="ngModel" [(ngModel)]="entity.cpf" mask="000.000.000-00">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">RG</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="RG" placeholder="RG" name="RG" #name="ngModel" [(ngModel)]="entity.rg">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sexo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Sexo" placeholder="Sexo" name="Sexo" #name="ngModel" [(ngModel)]="entity.sexo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Celular</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" placeholder="(__) ____-____" id="Celular" #name="ngModel" [(ngModel)]="entity.telefoneCelular" mask="(00) 00000-0000">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" placeholder="(__) ____-____" id="Telefone" #name="ngModel" [(ngModel)]="entity.telefone" mask="(00) 0000-0000">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" id="Email" #name="ngModel" [(ngModel)]="entity.email">
                </div>
            </div>
            <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label">Profissão</label>
                <div class="col-sm-10">
                    <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="simpleOption" [(ngModel)]="mySelectValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"> </ng-select>
                </div>
            </div> -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Médico</label>
                <div class="col-sm-10">
                    <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="simpleOption" [(ngModel)]="mySelectValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"> </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Número do Calçado</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" placeholder="Número do Calçado" id="Calcado" #name="ngModel" [(ngModel)]="entity.calcado">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Funcionário</label>
                <div class="col-sm-10">
                    <ui-switch class="js-info" color="#3498DB" switchColor="#fff" size="medium" checked></ui-switch>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Conselho</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" id="Conselho" placeholder="Crefito" #name="ngModel" [(ngModel)]="entity.crefito">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Indicação</label>
                <div class="col-sm-10">
                    <input type="text" type="text" class="form-control telphone_with_code" id="Indicacao" placeholder="Indicação" #name="ngModel" [(ngModel)]="entity.indicacao">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary m-b-0" [disabled]="!f.valid || isDisableCadastrar">Cadastrar</button>
                    <button type="button" class="btn btn-default waves-effect" (click)="close()">Fechar</button>
                </div>
            </div>
        </form>
    </app-card>
    <!-- cadastrar end -->
    <!-- consultar card -->
    <app-card [title]="'Consultar'" [headerContent]="'Consultar os Pacientes'">
        <div class="row">
            <div class="col-sm-12 col-sm-6">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light f-left d-inline-block md-trigger m-l-10" (click)="novo()" placement="top" ngbTooltip="Cadastrar">
                        <i class="icofont icofont-papers"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-sm waves-effect f-left d-inline-block md-trigger m-l-10" (click)="details()" placement="top" ngbTooltip="Detalhar / Alterar" [disabled]="!enableButton">
                        <i class="icofont icofont-listine-dots"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm waves-effect f-left d-inline-block md-trigger m-l-10" (click)="delete()" placement="top" ngbTooltip="Excluir" [disabled]="!enableButton">
                        <i class="icofont icofont-trash"></i>
                    </button>
                    <label class="form-inline f-right "> Pesquisar:
                        <input type='text' class="form-control input-sm m-l-10 " placeholder='Nome' (keyup)='updateFilter($event)' />
                    </label>
                </div>
            </div>
        </div>
        <app-data-list #dataTable [service]="service" [columns]="columns" (entity)="setEntity($event)"></app-data-list>
    </app-card>
    <!-- consultar end -->
</div>